<launch>
  <!-- rosbridge -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- <node pkg="nodelet" type="nodelet" name="depth_to_cloud" args="standalone depth_image_proc/point_cloud_xyz">
    <remap from="image_rect" to="/camera/aligned_depth_to_color/image_raw"/>
    <remap from="camera_info" to="/camera/color/camera_info"/>
    <remap from="points" to="/depth_cloud"/>
  </node> -->

  <!-- pointcloud_seg -->
  <include file="$(find tvss_nav)/launch/utils/pointcloud_seg.launch">
    <arg name="pointcloud_topic" value="/camera/depth/color/points" />
    <arg name="mask_topic" value="/segmented_image/mask" />
    <arg name="rgb_info_topic" value="/camera/color/camera_info" />
  </include>

</launch>
