<launch>
  <node pkg="robopoint_sampler"
        type="local_inference_ros.py"
        name="ros_local_infer"
        output="screen">
    <!-- 订阅 / 发布 的 topic -->
    <param name="image_topic"       value="/camera/color/image_raw/compressed"/>
    <param name="camera_info_topic" value="/camera/color/camera_info"/>
    <param name="prompt_topic"      value="/user_query"/>
    <param name="output_topic"      value="/pixel_subgoal"/>

    <!-- **重 点**：把 base 模型指向本地目录 -->
    <param name="model_path"
           value="$../robopoint/wentao-yuan/robopoint-v1-vicuna-v1.5-7b-lora"/>
    <param name="model_base"
           value="$../robopoint/wentao-yuan/vicuna-7b-v1.5"/>
    <!-- 如果你还需要一个 model_name 参数（LoRA 分支会用到） -->
    <param name="model_name"
           value="robopoint-v1-vicuna-v1.5-7b-lora"/>
  </node>
</launch>
